@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Russo+One&display=swap');

:root{
  --inter-font: 'Inter', sans-serif;
  --russo-font: 'Russo One', sans-serif;
  --regular: 400; 
  --medium: 500;
  --light-green: #20EEB0;
  --light-gray: #888888;
  --gray: #EBEFF2;
  --bg-color: #EEEEEE;
  background-color: #EEEEEE;
}

*, *::after, *::after{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  outline: none;
  border: none;
  cursor: pointer;
}
button{
  cursor: pointer;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html{
  font-size: 62.5%;
}
